*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:visited{
    color: #3d3d3d;
}

section{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

/* Topo */

header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #1d9e84;
}

.secao-topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    color: #3d3d3d;
}

.logo{
    font-size: 20px;
}

.logo span{
    color: #1d65ec;     
}

.secao-topo nav{
    font-size: 18px;
    color: #3d3d3d;
}

.secao-topo nav a{
    margin: 0 10px;
}

/* Conteúdo */

main{
    margin-top: 50px;
}

.principal{
    height: 100vh;
    background-image: url('../img/img-fundo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt-principal{
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto;
    background-color: #1d9e849a;
    color: #fff;
    border: 1px solid #fff;
}

.txt-principal h1{
    font-size: 50px;
    padding: 20px;
}

.txt-principal p{
    font-size: 25px;
    margin: 10px;
}

/* Opções */

.opcoes{
    background-color: #fff ;
}

.txt{
    margin: 15px auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 200;
    font-size: 18px;
}

.txt h2{
    font-size: 30px;
    font-weight:lighter;
    padding: 20px;
}

.txt p{
    padding-bottom: 10px;
}

/* Tipos de quartos */

.container-quartos{
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
}

.container-quartos .card{
    border-bottom: 1px solid #1d9e84;
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.container-quartos .card img{
    width: 550px;
}

.container-quartos .card a{
    color: #3d3d3d;
}

/* Sobre a pousada */

.container-sobre{
    margin: 20px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px 40px; 
    gap: 20px;
}

.container-sobre .card{
    width: 40%;
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    gap: 10px;
}

.container-sobre .card img{
    height: 150px;
    width: 190px;
}

.container-sobre .card .txt-card{
    flex-wrap: wrap;
    font-weight:300;
    color: #3d3d3d;
}

/* Rodapé */

footer{
    background-color: #1d9e84;
}

.container-contatos{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 20px;
}

.container-contatos .card, .container-contatos a{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #fff;
    align-items: center;
}

.container-contatos img{
    margin: 20px;
}

.copyright p{
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.copyright p:first-of-type{
    border-top: 1px solid #3d3d3d;
}

.copyright span{
    color: #2f4858;
    font-weight: bold;
}
